.addTask {
    font-family: "Rubik";
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 35px;
    padding: 5px 0;
    border-bottom: 1px solid #eceff4;
    border-radius: 0px;
}

.taskCheckAdd {
    font-size: 1.3em;
    font-weight: bold;
    color: #3b4252;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 1;
    cursor: pointer;
}

.taskNameAdd {
    font-family: "Rubik" !important;
    font-size: 1em;
    color: #4c566a;
    grid-row: 1;
    grid-column: 2;
    border: 0px;
    padding-left: 5px;
    margin-right: 10px;
}

.taskNameAdd::placeholder {
    color: #4c566a;
    opacity: 0.6;
}

.taskNameAdd:focus {
    outline: none;
    background-color: #eceff4;
    border-radius: 10px;
    padding-left: 40px;
    transition: 0.2s ease-in-out;
    animation: change_width 0.3s;
}
@keyframes change_width {
    0% {
        width: 10%;
    }
    25% {
        width: 20%;
    }
    100% {
        width: 98%;
    }
}

.taskCheckAdd:hover {
    background-color: #d8dee9;
    transition: 0.1s ease-in-out;
}
