@import url("https://fonts.googleapis.com/css?family=Courier+Prime:400,400i|Rubik:400,700&display=swap");

body,
html,
#root {
    margin: 0;
    height: 100%;
    width: 100%;
    width: 100vw;
}

html {
    margin: 0;
}

body {
    margin: 0;
    font-family: "Rubik", "Courier Prime", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
