.taskViewContainer {
    display: grid;
    grid-template-columns: minmax(200px, 250px) auto minmax(250px, 300px);
    grid-template-rows: auto;
    height: 100%;
}

.sidebar {
    grid-column: 1;
    grid-row: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.taskViewList {
    grid-column: 2;
    grid-row: 1;
    padding-top: 10px;
    margin: 10px;
}

.taskListHeader {
    color: #4c566a;
    margin-left: 20px;
    font-weight: bold;
    text-transform: capitalize;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.menuIcon {
    color: #4c566a;
    padding: 0 20px;
    cursor: pointer;
}

.taskListProjectName {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.taskViewtaskSidebar {
    grid-row: 1;
    grid-column: 3;
}

.taskViewContainerHide {
    grid-template-columns: minmax(300px, 17%) auto;
}
