.taskSidebar {
    box-sizing: border-box;
    background-color: #eceff4;
    border-left: 2px solid #d8dee9;
    color: #4c566a;
    padding: 20px 0;
    height: 100%;
}

.taskSidebarList {
    margin: 0;
    padding: 0;
}

.taskSidebarItem {
    font-size: 0.85em;
    padding: 10px 30px;
    list-style: none;
    background-color: #eceff4;
    text-transform: capitalize;
    cursor: pointer;
}

.taskSidebarRename {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #e5e9f0;
    border-bottom: 2px solid #d8dee9;
}

.taskSidebarRenameInput {
    background-color: #e5e9f0;
    box-sizing: border-box;
    font-weight: bold;
    width: 100%;
    color: #4c566a;
    grid-row: 1;
    grid-column: 1;
    border: 0px;
    padding: 10px;
    padding-left: 30px;
    font-size: 0.85em;
}

.taskSidebarRenameInput::placeholder {
    color: #4c566a;
    opacity: 0.6;
}

.taskSidebarRenameInput:focus {
    background-color: #d8dee9 !important;
    outline: none;
    padding-left: 50px;
    transition: 0.2s ease-in-out;
    animation: change_width 0.3s;
}
@keyframes change_width {
    0% {
        width: 10%;
    }
    25% {
        width: 20%;
    }
    100% {
        width: 90%;
    }
}
.taskSidebarHide {
    display: none;
}

.taskSidebarItem:hover {
    background-color: #e5e9f0;
    transition: 0.1s ease-in-out;
}

.selectPriority {
    appearance: none;
    background-color: #d8dee9;
    outline: none;
    padding: 1px 30px;
    border: 1px solid #98a2bb;
    width: 70px;
    margin-left: 10px;
}

.selectPrioritySpan {
    margin-left: 10px;
}

.taskSidebarDate {
    appearance: none;
    background-color: #d8dee9;
    outline: none;
    border: 1px solid #98a2bb;
    margin-left: 13px;
    width: 130px;
}
