.taskHeader {
    font-family: "Rubik";
    font-size: 0.9em;
    display: grid;
    color: #acb1ba;
    grid-template-columns: minmax(140px, auto) 100px 100px 250px;
    grid-template-rows: 35px;
    border-bottom: 1px solid #eceff4;
    border-radius: 0px;
}

.taskHeaderDescription {
    cursor: pointer;
    margin: 0 40px;
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 1;
}

.taskHeaderPriority {
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
}

.taskHeaderDeadline {
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 3;
}

.headerProjectList {
    margin: 0 auto;
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 4;
}

.sortIcon {
    padding-bottom: 5px;
    padding-left: 5px;
}
