.confirmDeleteWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 300px auto;
    grid-template-rows: auto 150px auto;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.confirmDeleteDialog {
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
    color: #4c566a;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
}

.confirmDeleteDialog > button {
    height: 50px;
    color: #2e3440;
    outline: none;
    border: none;
}

.confirmDeleteDialog > button:hover {
    border: 2px solid #d8dee9;
    font-weight: bold;
}

.confirmDeleteCancel {
    grid-column: 2;
    grid-row: 2;
    background-color: #eceff4;
}

.confirmDeleteConfirm {
    grid-column: 1;
    grid-row: 2;
    background-color: #bf616a;
    border-right: none;
}

.confirmDeleteHeader {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 1.3em;
}
