.task {
    font-family: "Rubik";
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 40px minmax(100px, auto) 100px 100px 250px;
    grid-template-rows: 35px;
    padding: 5px 0;
    border-bottom: 1px solid #eceff4;
    border-radius: 0px;
    cursor: pointer;
}
/*grid-template-columns: 40px auto 50px 100px 15%;*/
.task:hover {
    background-color: #eceff4;
    transition: 0.2s ease-in-out;
}

.taskCheck {
    margin: 0 10px;
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 1;
}

.taskName {
    display: flex;
    align-items: center;
    color: #4c566a;
    margin-right: 5px;
    grid-row: 1;
    grid-column: 2;
    border: 0px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 7px 10px;
    width: calc(80%);
}

.taskPriority {
    color: #4c566a;
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 3;
    margin: 0 auto;
}

.taskDate {
    color: #4c566a;
    display: flex;
    align-items: center;
    margin: 0 auto;
    grid-row: 1;
    grid-column: 4;
    padding: 0 5px;
}

.badgeItem {
    margin: 0;
    display: inline;
    padding-right: 5px;
}

.badgeList {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    grid-row: 1;
    grid-column: 5;
    justify-self: right;
}

input[type="checkbox"] {
    display: none;
}

.checkLabel {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.checkLabel span {
    width: 15px;
    height: 15px;
    background-color: #eceff4;
    border-radius: 15px;
    border: 2px solid #d8dee9;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: 5px;
}

input[type="checkbox"]:checked + span:before {
    font-size: 1.2em;
    content: "\2713";
    position: absolute;
    top: -7px;
    left: 0;
}

.crossed {
    font-style: italic;
    text-decoration: line-through;
    color: #818896 !important;
}
