.signupWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 350px auto;
    grid-template-rows: auto 500px auto;
    position: relative;
    z-index: 2;
}

.signupDialog {
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    background-color: #fff;
    color: #4c566a;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
}

.signupForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.signupForm > label {
    font-weight: bold;
}

.signupForm > input {
    margin-bottom: 7px;
    background-color: #e5e9f0;
    box-sizing: border-box;
    color: #4c566a;
    grid-row: 1;
    grid-column: 1;
    border: 0px;
    padding: 10px;
    padding-left: 30px;
    font-size: 0.85em;
    border: 2px solid #d8dee9;
    outline: none;
}

.signupForm > input::placeholder {
    color: #4c566a;
    opacity: 0.6;
}

.signupForm > button {
    margin-top: 20px;
    height: 50px;
    color: #2e3440;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: #81a1c1;
    border: 2px solid #5e81ac;
}

.signupInvalid {
    border: 2px solid #bf616a !important;
}

.signupInvalid::placeholder {
    color: #bf616a !important;
}

.signupHeader {
    text-align: center;
    padding-bottom: 20px;
}
