.dropdownButton {
    color: #4c566a;
    display: inline-block;
    position: relative;
    padding: 0px 25px;
}

.dropdownContent {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/*background-color: #eceff4;*/

.showDropdown {
    display: block;
}

.dropdown {
    display: inline-block;
}

.dropdownList {
    list-style: none;
    color: #4c566a;
    font-size: 0.75em;
    margin: 0;
    padding: 20px 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dropdownList > li {
    padding: 10px 0;
    padding-left: 20px;
}

.dropdownList > li:hover {
    background-color: #d8dee9;
}

.trashIcon {
    float: right;
    padding-right: 20px;
}
