.navbar {
    font-family: "Rubik";
    font-size: 0.9em;
    height: 50px;
    background-color: #2e3440;
    color: #d8dee9;
    width: 100%;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
}

.navList {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.navItem {
    padding: 10px 20px;
    text-align: center;
    border: 4px solid transparent;
}

.logout {
    margin-left: auto;
    justify-self: left;
}

.selected {
    font-weight: bold;
    color: #eceff4;
}

.searchItem {
    margin-left: auto;
}

.logout:hover {
    cursor: pointer;
    font-weight: bold;
}

.searchBox {
    color: #eceff4;
    background-color: #3b4252;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 4px 20px;
    width: 500px;
}

.searchBox::placeholder {
    color: #93979e;
}

.searchBox:focus {
    background-color: #434c5e;
    padding: 4px 40px;
    transition: 0.2s ease-in-out;
}

.searchClear {
    cursor: pointer;
    padding-left: 20px;
}

.hidden {
    color: transparent;
}
