.projectSidebar {
    box-sizing: border-box;
    background-color: #eceff4;
    border-right: 2px solid #d8dee9;
    color: #4c566a;
    padding: 20px 0;
    height: 100%;
}

.projectList {
    margin: 0;
    padding: 0;
}

.projectItem {
    font-size: 0.85em;
    padding: 10px 30px;
    list-style: none;
    background-color: #eceff4;
    text-transform: capitalize;
    cursor: pointer;
}

.projectItem:hover {
    background-color: #e5e9f0;
}

.selectedProject {
    background-color: #d8dee9;
    font-weight: bold;
    margin-right: -4px;
}

.projectHeader {
    margin: 0 0 20px 20px;
}

.projectCount {
    float: right;
}

.addProjectDiv {
    display: grid;
    grid-template-columns: auto 60px;
    grid-template-rows: auto;
    background-color: #e5e9f0;
    border-top: 2px solid #d8dee9;
}

.addProjectInput {
    background-color: #e5e9f0;
    box-sizing: border-box;
    width: 100%;
    color: #4c566a;
    grid-row: 1;
    grid-column: 1;
    border: 0px;
    padding: 10px;
    padding-left: 30px;
    font-size: 0.85em;
}

.addProjectInput::placeholder {
    color: #4c566a;
    opacity: 0.6;
}

.addProjectInput:focus {
    background-color: #d8dee9 !important;
    outline: none;
    padding-left: 50px;
    transition: 0.2s ease-in-out;
    animation: change_width 0.3s;
}
@keyframes change_width {
    0% {
        width: 10%;
    }
    25% {
        width: 20%;
    }
    100% {
        width: 90%;
    }
}

.projectCheckAdd {
    font-size: 1.3em;
    font-weight: bold;
    color: #3b4252;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
    cursor: pointer;
}

.projectCheckAdd:hover {
    background-color: #d8dee9;
    transition: 0.1s ease-in-out;
}
